.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}

.labels {
  min-width: 220px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.input {
  /* color: #16a085; */
  color: darkcyan;
}

.output {
  color: red;
}

.balance {
  min-width: 220px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}
