.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.border {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 3px;
}

.transaction {
  display: flex;
  min-width: 100%;
  max-width: 100%;
  align-items: center;
  background-color: #38d8b8;
}

.day {
  margin-left: 5px;
  margin-right: 20px;
  font-size: 1.1rem;
  font-weight: bold;
  align-self: center;
}

.category {
  font-weight: bold;
  width: 700px;
}

.description {
  font-size: 0.9rem;
  width: 700px;
}

.value {
  margin-left: 5px;
  margin-right: 20px;
  font-size: 1.1rem;
  font-weight: bold;
  align-self: center;
}

.action {
  margin-left: 5px;
  margin-right: 20px;
  font-size: 1.1rem;
  font-weight: bold;
  align-self: center;
}

.colorReceita {
  color: #c0392b;
  /* background-color: darkgreen; */
}

.colorDespesa {
  color: #e67e22;
  /* background-color: darkred; */
}
